<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pagina de contacto de JDM.com Contactanos para contarnos tu historia automovilista.">
  <meta name="keywords" content="CAR, AUTO, JDM, AUTOS, NOTICIAS DE AUTOS, TUNNING">
  <title>JDM - Contacto</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <div class="main-header my-container overflow-hidden h-100">
      <nav class="col navbar navbar-expand-sm" data-bs-theme="dark">
        <div class="container-fluid flex-nowrap h-100">
          <span class="navbar-brand mb-0 h1">
            <img class="main-header__img" src="../assets/images/jdm-logo-transparent-background.png" alt="page logo">
          </span>
          <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end my-container align-self-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">JDM</h5>
              <button type="button" class="btn-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item ms-2">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="historias.html">Historias</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link active active--my_active" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="my-container h-100">
      <div>
        <span>
          <a class="jdm-link" href="../index.html">Inicio ></a>
          <a class="jdm-link" href="contacto.html">Contacto</a>
        </span>
      </div>
      <section class="my-container col-sm-9" aria-label="Contacto">
          <h1 class="display-6 control-text-overflow">Contactanos!</h1>
          <div class="container-sm my-container d-inline-block">
            <form>
              <div class="row g-2">
                <div class="col-12 col-sm-6">
                  <label for="nameInput" class="form-label">Nombre</label>
                  <input id="nameInput" class="form-control form-control-sm form-control-md" type="text">
                </div>
                <div class="col-12 col-sm-6">
                  <label for="lastnameInput" class="form-label">Apellido</label>
                  <input id="lastnameInput" class="form-control form-control-sm form-control-md" type="text">
                </div>
                <div class="col-12 col-sm-10">
                  <textarea placeholder="Escriba su mensaje aqui ..." class="form-control form-control-sm form-control-md" rows="4"></textarea>
                </div>
                <div class="col-12 col-sm-8">
                  <label for="emailInput" class="form-label">Email</label>
                  <input id="emailInput" class="form-control form-control-sm form-control-md" placeholder="example@gmail.com" type="email">
                </div>
                <div class="col-12">
                  <button class="btn btn-outline-light-jdm" type="submit" value="enviar">Enviar</button>
                </div>
              </div>
            </form>
          </div>
      </section>
    </div>
  </main>

  <footer class="main-footer">
    <div class="my-container p-0 h-100">
      <div class="row m-0">
        <section class="main-footer-info__section my-container row m-0 px-4 pt-3">
          <section class="main-footer-page-logo__section col-12 col-sm-4 pb-2 pb-sm-0">
            <div class="main-footer-page-logo__div">
              <img class="main-footer-page-logo__img" src="../assets/images/jdm-logo-transparent-background.png" alt="page logo">
              <span>JDM</span>
              <div class="footer-font-08 mt-1">
                Coderhouse: Curso de desarrollo web
              </div>
            </div>
          </section>
          <section class="main-footer-contributors__section col-12 col-sm-8">
            <div class="main-footer-contributors__div row">
              <article class="col-8 col-sm-4">
                <h6 class="footer-title">Alumno</h6>
                <ul>
                  <li>
                    <a class="jdm-link" target="_blank" href="https://ar.linkedin.com/in/bruno-cesar-barletta-32b320153?trk=public_profile_samename-profile&original_referer=https%3A%2F%2Fwww.google.com%2F">Bruno Cesar Barletta</a>
                  </li>
                </ul>
              </article>
              <article class="col-8 col-sm-4">
                <h6 class="footer-title">Profesores</h6>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/humberto-rivero-rivero-castro/">Humberto Rivero</a>
                  </li>
                </ul>
              </article>
              <article class="col-8 col-sm-4">
                <h6 class="footer-title">Tutores</h6>
                <ul>
                  <li>
                    <a target="_blank" href="https://www.linkedin.com/in/mart%C3%ADn-morici-2008a51a2/?originalSubdomain=ar">Martin Morici</a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.linkedin.com/in/iara-docampo/?originalSubdomain=ar">Iara Docampo</a>
                  </li>
                  <li>
                    <a target="_blank" href="https://www.linkedin.com/in/santiago-olais-829542b9/?originalSubdomain=ar">Santiago Olais</a>
                  </li>
                </ul>
              </article>
            </div>  
          </section>
        </section>
        <section class="main-footer-repo__section my-container px-4 pb-3">
          <div class="main-footer-repo__div">
            <span>Proyecto final</span>
            <span class="ps-1"> 
              <a href="https://github.com/Brunocbarletta/PreEntrega3Barletta" target="_blank">
                <img class="main-footer-github-logo__img" src="../assets/images/github-mark-white.png" alt="github icon">
              </a>
            </span>
          </div>
        </section>
      </div>
    </div>
  </footer>
  <script src=".././js/bootstrap.min.js"></script>
</body>
</html>