<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
  <header>
    <div class="main-header my-container overflow-hidden">
      <nav class="col navbar navbar-expand-sm" data-bs-theme="dark">
        <div class="container-fluid flex-nowrap">
          <span class="navbar-brand mb-0 h1">
            <img class="main-header__img" src="../images/jdm-logo-transparent-background.gif" alt="page logo">
          </span>
          <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end my-container align-self-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">off canvas header</h5>
              <button type="button" class="btn-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item ms-2">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="historias.html">Historias</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link active" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <!--Contenido-->
    <div class="my-container h-100">
      <section class="my-container" aria-label="Contacto">
          <h2>Contactanos!</h2>
          <div class="my-container my-container--w_80-percent">
            <form class="contact__form" action="" method="post">
              <ul>
                <li>
                  <label for="nameInput">Nombre</label>
                  <input id="nameInput" type="text">
                </li>
                <li>
                  <label for="lastnameInput">Apellido</label>
                  <input id="lastnameInput" type="text">
                </li>
                <li class="textarea__li">
                  <textarea placeholder="Escriba su mensaje aqui ..."></textarea>
                </li>
                <li class="email__li">
                  <label for="emailInput">Email</label>
                  <input id="emailInput" placeholder="example@gmail.com" type="email">
                </li>
              </ul>
              
              <input type="submit" value="enviar">
            </form>
          </div>
      </section>
    </div>
  </main>

  <footer class="main-footer">
    <div class="my-container">
      <h2>Footer</h2>
    </div>
  </footer>
  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>