<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
  <header>
    <div class="main-header my-container overflow-hidden">
      <nav class="col navbar navbar-expand-sm" data-bs-theme="dark">
        <div class="container-fluid flex-nowrap">
          <span class="navbar-brand mb-0 h1">
            <img class="main-header__img" src="../images/jdm-logo-transparent-background.gif" alt="page logo">
          </span>
          <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end my-container align-self-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">off canvas header</h5>
              <button type="button" class="btn-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item ms-2">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link active" href="historias.html">Historias</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="my-container h-100">
      <section class="historias__section" aria-label="Historias">
        <h2>Historias</h2>
        <article class="my-container">
          <h3><a href="historia1.html">La historia de las siglas RSR en Porsche</a></h3>
          <img src="../images/porsche-rsr-celeste.jpg" alt="Porsche 911 RSR celeste">
        </article>
        <article class="my-container">
          <h3><a href="historia2.html">Subaru y Mitsubishi , Mitsubishi y subaru</a></h3>
          <img src="../images/subaru-impreza-sti-mitsubishi-lancer-evolution.jpg" alt="Autos Subaru WRX y Mitsubishi Evo">
        </article>
      </section>
    </div>
  </main>
  <footer class="main-footer">
    <div class="my-container">
      <h2>Footer</h2>
    </div>
  </footer>
  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>