<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header>
    <div class="main-header container h-100">
      <img class="main-header__img" src="../images/jdm-logo-transparent-background.gif" alt="page logo">
      <nav class="main-header__nav">
        <!-- Lista no ordenada -->
        <ul class="main-header__ul">
          <li>
            <button><a href="../index.html">Home</a></button>
          </li>
          <li>
            <button><a href="historias.html">Historias</a></button>
          </li>
          <li>
            <button><a href="contacto.html">Contacto</a></button>
          </li>
          <li>
            <button><a href="multimedia.html">Multimedia</a></button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container h-100">
      <div class="multimedia__section" aria-label="Multimedia">
        <section class="videos__section container" aria-label="Videos">
          <h2>Videos</h2>
          <div>
            <h3>Pasion por el JDM</h3>
            <iframe src="https://www.youtube.com/embed/vkxIylC-KVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div>
            <h3>ECHO</h3>
            <iframe src="https://www.youtube.com/embed/biyIQLMhHek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </section>
  
        <section class="images__section container" aria-label="Imagenes">
          <h2>Imagenes</h2>
          <img alt="Mitsubishi Evo IX" src="../images/mitsubishi evo 9 jdm.jpg">
          <img alt="Toyota 86 RocketBunny kit" src="../images/toyota-gt-86-rocketBunny-kit.jpg">
        </section>
      </div>
    </div>
  </main>

  <footer class="main-footer">
    <div class="container">
      <h2>Footer</h2>
    </div>
  </footer>

</body>
</html>