<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página no encontrada</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <header>
    <div class="main-header my-container overflow-hidden h-100">
      <nav class="col navbar navbar-expand-sm" data-bs-theme="dark">
        <div class="container-fluid flex-nowrap h-100">
          <span class="navbar-brand mb-0 h1">
            <img class="main-header__img" src="../assets/images/jdm-logo-transparent-background.gif" alt="page logo">
          </span>
          <button class="navbar-toggler m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end my-container align-self-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">JDM</h5>
              <button type="button" class="btn-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item ms-2">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="historias.html">Historias</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" href="multimedia.html">Multimedia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="my-container h-100">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <div class="error-container">
            <h1>Pagina no encontrada</h1>
            <img src="../assets/images/404-signal.png" alt="Señal de error 404">
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="main-footer">
    <div class="my-container">
      <h2>Footer</h2>
    </div>
  </footer>
  <script src=".././js/bootstrap.min.js"></script>
</body>
</html>