 /*Historias*/
.historias__section article h3 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.historias__section article img {
  width: 200px; 
  height: 150px;
}

.historias__section article h3 a {
  color: currentColor;
}