/*Historia*/
.historia__section img{
  max-height: 500px;
  width: max-content;
  max-width: 100%;
  align-self: center;
}
  
.historia__section h2, .historia__section h1{
  color: $contrast-color;
} 