 /*Multimedia*/
.multimedia-container{
  :has(h2) >h2{
    text-align: center;
  }

  .videos__section{
    article{
      flex-basis: 300px;
      iframe {
        width: 100%;
        border-style: solid;
        border-width: 0.3em;
        border-color: white;
      }
    }
  }

  .images__section img {
    width: 100%;
    max-width: 500px;
  }

  .empty{
    opacity: 0;
  }

}