@import "../utilities/variables.scss";

body{
  min-height: 1000px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 110px 1fr auto;
  padding-right: 0px!important; //Fix: El Offcanvass del navBar de bootstrap agrega un padding de 17px al body.
  background-color: $primary-color!important;
}
  
/*Clases comunes a todas las paginas*/
.my-container {
  color: $primary-color!important;
  border-width: 2px!important;
  background-color: $background-color!important;
  padding: 4px!important;
}

.control-text-overflow{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jdm-link{
  color: $secondary-color;
  font-family: $links-font-family;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.9;
  text-decoration: none;
  &:hover{
    opacity: 1;
    text-decoration: underline 0.15em;
  } 
}

.overflow-ellipsis{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}